# https://github.com/googleapis/google-cloud-python/issues/2990
setuptools>34.3.0
wheel
twine
#
# awscli seems to artifically limit the max version of PyYAML:
#
# https://github.com/aws/aws-cli/pull/4403/files
#
# pip._vendor.pkg_resources.ContextualVersionConflict: (PyYAML 5.2 (/home/circleci/project/venv/lib/python3.6/site-packages), Requirement.parse('PyYAML<5.2,>=3.10; python_version != "2.6" and python_version != "3.3"'), {'awscli'})
#
PyYAML<5.2,>3.10
flake8
nose
nose-progressive
coverage
mock
pytz
pandas<2
mypy>=0.730
lxml # needed by mypy HTML coverage reporting
pylint
apache-airflow>=1.10,<2
# sqlalchemy-vertica-python==0.4.5
sqlalchemy-stubs>=0.3
# this is pre-release, but seems to work!  Let's keep it pinned to a
# commit until they make a release, just in case they break
# compatibility.  Feel free to try to update!
git+https://github.com/numpy/numpy-stubs.git@be9a479#egg=numpy-stubs
