# https://github.com/googleapis/google-cloud-python/issues/2990
setuptools>34.3.0
wheel
twine
flake8
nose-progressive

# this is pre-release, but seems to work!  Let's keep it pinned to a
# commit until they make a release, just in case they break
# compatibility.  Feel free to try to update!
#
# Note: it looks like numpy 1.20 is likely to roll these in natively
# without a need for a separate stub package:
#
#  https://github.com/numpy/numpy/blob/master/doc/release/upcoming_changes/16558.new_feature.rst
#  https://github.com/numpy/numpy/pull/16558
git+https://github.com/numpy/numpy-stubs.git@be9a479#egg=numpy-stubs
sphinx>=3 # used to generate and upload docs - sphinx-autodoc-typehints requires 3 or better per https://github.com/agronholm/sphinx-autodoc-typehints/pull/138
sphinx-autodoc-typehints # used to handle type hints
sphinx-rtd-theme # used to style docs for readthedocs.io
recommonmark # used to be able to use sphinx with markdown
